h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#cellvid {

}

#soon {
  color: aquamarine;
  font-size: 16px;
}

html {
  background-color: Black;
  text-align: Center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
